<%= turbo_stream_from "teacher_counts" %>
<div class="dashboard-header">
  <h1>Dashboard</h1>
  <p class="subtitle">Logged in as: <strong><%= current_user.name %></strong> (<%= current_user.role.titleize %>)</p>
</div>

<div class="dashboard-content">
  <div style="margin-bottom:20px;">
    <%= button_to "Generate All Reports",
        send_all_report_cards_students_path,
        method: :post,
        class: "btn btn-success",
        data: { turbo_confirm: "Are you sure you want to generate and send report cards to all students?" } %>
  </div>

  <% if current_user.admin? %>
    <%= render "admin_dashboard" %>
  <% else %>
    <%= render "teacher_dashboard" %>
  <% end %>

  
</div>
