<h1>DASHBOARD</h1>
<div class="dashboard">
  <div class=dashboard-card>
    <h2>
    <%= @total_students %></h2>
    <p>Total students</p>
   </div>
    <div class=dashboard-card>
    <h2>
    <%= @rails_students %></h2>
    <p>Rails students</p>
   </div>
    <div class=dashboard-card>
    <h2>
    <%= @ruby_students %></h2>
    <p>Ruby students</p>

   </div>
    <div class=dashboard-card>
    <h2>
    <%= @react_students %></h2>
    <p>React students</p>
   </div>
    <div class=dashboard-card>
    <h2>
    <%= @java_students %></h2>
    <p>Java students</p>
   </div>
</div>
