<h1>DASHBOARD</h1>

<% if current_user.admin? %>

  <div class="dashboard">
    <h2>Admin Dashboard</h2>

    <div class="dashboard-card">
      <h2><%= @total_students %></h2>
      <p>Total Students</p>
    </div>

    <div class="dashboard-card">
      <h2><%= @total_teachers %></h2>
      <p>Total Teachers</p>
    </div>

    <h3>Students Per Teacher</h3>

    <ul>
      <% @students_per_teacher.each do |teacher| %>
        <li>
          <%= teacher.name %> :
          <%= teacher.students.count %>
        </li>
      <% end %>
    </ul>
  </div>

<% else %>

  <div class="dashboard">
    <h2>Teacher Dashboard</h2>

    <div class="dashboard-card">
      <h2><%= @total_students %></h2>
      <p>Total Students</p>
      <% @course_counts.each do|course, count| %>
      <div>
      <%= course %> Students: <%= count %>
      </div>
      <% end %>

    </div>


  </div>
    
    <% end %>
