
<header class="header">
  <h1>Student Management</h1>

  <nav class="navbar">

    <% if user_signed_in? %>

      <%= link_to "Dashboard", dashboard_path %>
      <%= link_to "Students List", students_path %>
      <%= link_to "Add Student", new_student_path %>

      <% if current_user.admin? %>
        <%= link_to "Teachers", users_path(role: "teacher") %>
      <% end %>

      <span>
        Welcome,
        <%= current_user.name %>
        (<%= current_user.role %>)
      </span>

      <%= button_to "Logout",
            destroy_user_session_path,
            method: :delete %>

    <% else %>

      <%= link_to "Login", new_user_session_path %>
      <%= link_to "Sign Up", new_user_registration_path %>

    <% end %>

  </nav>
</header>